$bg-color: #cbcbcb;

@mixin bold {
  -fx-font-weight: bold;
}

.root {
  -fx-background-color: $bg-color;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

errorPane {
  @include bold;
}
