@import "palette";
@import "mixins";

.root {
  -fx-background-color: $background;
}

.list-view .list-cell:even {
  -fx-background-color: $bg1;
  -fx-text-fill: snow;
}

.list-view .list-cell:odd {
  -fx-background-color: $bg2;
  -fx-text-fill: snow;
}

errorPane {
  -fx-font-family: monospace;
  @include bold-text;
}
