.root {
    -fx-background: -fx-base;
    -fx-background-dark: rgb(28, 28, 28);

    -fx-accent: rgb(230, 241, 255);
    -fx-focus-color: rgb(55, 122, 224);
}

.dark {
    -fx-base: -fx-background-dark;
    -fx-background-color: -fx-background-dark;
}

.list-view .list-cell:focused {
    -fx-background-color: -fx-background;
}

#retweetButton {
    -fx-text-fill: #3faa4d;
    -fx-background-color: rgba(0, 0, 0, 0);
}

#likeButton {
    -fx-text-fill: #ff6162;
    -fx-background-color: rgba(0, 0, 0, 0);
}

#tweetButton {
    -fx-background-color: -fx-focus-color;
}
