$color1: rgba(224, 54, 22, 1);
$color2: rgba(51, 101, 138, 1);
$color3: rgba(47, 72, 88, 1);
$color4: rgba(253, 255, 252, 1);
$color5: rgba(35, 87, 137, 1);

$focus: $color5;
$bg1: $color2;
$bg2: $color5;
$background: $color3;
